<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boston Software Jobs</title>
</head>
<body>
    <h1>Welcome to Boston Software Jobs</h1>
    </br>
    <a href="/jobs"> View All Jobs </a>
</body>
</html>